/* 
The core/button component has styles that expect it to be a child of core/buttons.
We need to reimplement these styles for widths to work.
*/ 
.wp-block-wporg-wporg-gutenberg-button .wp-block-button.wp-block-button__width-100 {
	width: 100%;
}

.wp-block-wporg-wporg-gutenberg-button .wp-block-button.wp-block-button__width-75 {
	width: 75%;
}

.wp-block-wporg-wporg-gutenberg-button .wp-block-button.wp-block-button__width-50 {
	width: 50%;
}

.wp-block-wporg-wporg-gutenberg-button .wp-block-button.wp-block-button__width-25 {
	width: 25%;
}

.wp-block-wporg-wporg-gutenberg-button .wp-block-button__link {
	width: 100%;
}